@model Users

<link href="~/css/companyProfileStyles.css" rel="stylesheet" />

<div id="mySidebar" class="sidebar ">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a1> Welcome, </a1>
    <a1>@ViewBag.AspUser.Email</a1>
    <ul>
        <li> <a href="/Home/UserProfile?name=" @ViewBag.User.Id ">Your Profile</a></li>
        <li><a href="/SeamedInDB/Favorites">Your Favorites</a></li>
        <li> <a href="/SeamedInDB/SearchPage">Search Page</a></li>
    </ul>
    <a1>Recommended Startups:</a1>
    <ul>
        @for (int i = 0; i < 3; i++)
        {
            <li><a href="/Home/StartupProfile?name=@ViewBag.Startups[i].Startup.fields.CompanyName">@ViewBag.Startups[i].Startup.fields.CompanyName</a></li>
        }
    </ul>
</div>

<h2 class="companyNameHeader">@Model.Name</h2>

<h6 class="companyOtherHeader">@Model.UserType Company</h6>

<div class="flexContainer">
    <p>@Model.City, @Model.StateProvince, @Model.Country</p>
</div>

<br />
<br />

<h5 class="companyOtherHeader">Summary:</h5>

<div class="flexContainer">
    <p class="companySummaryStyles">@Model.Summary</p>
</div>

<br />

<div>
    <table class="companyTable">
        <thead>
            <tr>
                <th>Theme</th>
                <th>Technology</th>
                <th>Industry</th>
                <th>Landscape</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Theme</td>
                <td>@Model.Technology</td>
                <td>@Model.Industry</td>
                <td>@Model.Landscape</td>
            </tr>
        </tbody>
    </table>
</div>

<br />
<br />

<h5 class="companyOtherHeader">Contact Information:</h5>

<div class="flexContainer">
    <ul class="companyListStyles">
        <li>Web - @Model.Website</li>
        <li>Email - @Model.EmailAddress</li>
        <li>Phone - @Model.PhoneNumber</li>
    </ul>
</div>
