@model List<Tuple<int, GC_FinalProject_Seamless_June2020.Models.Record>>

    <link href="~/css/searchResults.css" rel="stylesheet" />

<div class="sidenav">
    <a> Welcome, </a>
    <a>@ViewBag.AspUser.Email</a>
    <a href="/Home/UserProfile?name=" @ViewBag.User.Id ">Your Profile</a>
    <a href="/SeamedInDB/Favorites">Your Favorites</a>
    <a href="/SeamedInDB/SearchPage">Search Page</a>
    <a>Recommended Startups:</a>


    @for (int i = 0; i < 3; i++)
    {
        <a href="/Home/StartupProfile?name=@ViewBag.Startups[i].Startup.fields.CompanyName">@ViewBag.Startups[i].Startup.fields.CompanyName</a>
    }
</div>

<div class="main">
    <table>
        @{
            int recordCount = 0;
            int listPosition = 0;

            while (recordCount != Model.Count)
            {
                recordCount++;
                int cellCountInRow = 0;
                int loopCounter = 0;
                <tr>

                    @foreach (Tuple<int, GC_FinalProject_Seamless_June2020.Models.Record> recordWithRank in Model)
                    {

                        if (cellCountInRow < 3 && loopCounter == listPosition)
                        {
                            <td>
                                <ul>
                                    <li>
                                        <a href="/Home/StartupProfile?name=@recordWithRank.Item2.fields.CompanyName">@recordWithRank.Item2.fields.CompanyName</a>
                                    </li>
                                    <li>
                                        Theme: @recordWithRank.Item2.fields.Themes
                                    </li>
                                    <li>
                                        Technology Area: @recordWithRank.Item2.fields.TechnologyAreas
                                    </li>
                                    <li>
                                        Coutnry: @recordWithRank.Item2.fields.Country
                                    </li>
                                    <li>
                                        <button onclick="document.location = '/SeamedInDB/AddAFavoriteStartUpToList?id=@recordWithRank.Item2.id'">Add to Favorites</button>
                                    </li>
                                </ul>
                            </td>
                            listPosition++;
                            cellCountInRow++;
                        }
                        loopCounter++;
                    }

                </tr>
            }
        }

    </table>
</div>
