@model IEnumerable<StartupRank>

<div class="sidenav">
    <a> Welcome, </a>
    <a>@ViewBag.AspUser.Email</a>
    <a href="/Home/UserProfile?name=" @ViewBag.User.Id ">Your Profile</a>
    <a href="/SeamedInDB/Favorites">Your Favorites</a>
    <a href="/SeamedInDB/SearchPage">Search Page</a>
    <a>Recommended Startups:</a>
    @for (int i = 0; i < 3; i++)
    {
        <a href="/Home/StartupProfile?name=@ViewBag.Startups[i].Startup.fields.CompanyName">@ViewBag.Startups[i].Startup.fields.CompanyName</a>
    }
</div>

<div class="main">
    <h1>Search Results</h1>

    <table>
        <tr>
            <th>Startup</th>
            <th>Theme(s)</th>
            <th>Tech</th>
            <th>Country</th>
        </tr>
        @foreach (StartupRank s in Model)
        {
            <tr>
                <td><a href="/Home/StartupProfile?name=@s.Startup.fields.CompanyName">@s.Startup.fields.CompanyName</a></td>
                <td>@s.Startup.fields.Themes</td>
                <td>@s.Startup.fields.TechnologyAreas</td>
                <td>@s.Startup.fields.Country</td>
                <td><button onclick="document.location = '/SeamedInDB/AddAFavoriteStartUpToList?id=@s.Startup.id'">Add to Favorites</button></td>

            </tr>
        }
    </table>
</div>