@model List<Tuple<int, GC_FinalProject_Seamless_June2020.Models.Record>>

<div class="sidenav">
    <a> Welcome, </a>
    <a>@ViewBag.AspUser.Email</a>
    <a href="/Home/UserProfile?name=" @ViewBag.User.Id ">Your Profile</a>
    <a href="/SeamedInDB/Favorites">Your Favorites</a>
    <a href="/SeamedInDB/SearchPage">Search Page</a>
    <a>Recommended Startups:</a>
    @for (int i = 0; i < 3; i++)
    {
        <a href="/Home/StartupProfile?name=@ViewBag.Startups[i].Startup.fields.CompanyName">@ViewBag.Startups[i].Startup.fields.CompanyName</a>
    }
</div>

<div class="main">
    <table>
        <tr>
            <th>Startup</th>
            <th>Theme(s)</th>
            <th>Tech</th>
            <th>Country</th>
        </tr>
        @foreach (Tuple<int, GC_FinalProject_Seamless_June2020.Models.Record> recordWithRank in Model)
        {
            <tr>
                <td><a href="/Home/StartupProfile?name=@recordWithRank.Item2.fields.CompanyName">@recordWithRank.Item2.fields.CompanyName</a></td>
                <td>@recordWithRank.Item2.fields.Themes</td>
                <td>@recordWithRank.Item2.fields.TechnologyAreas</td>
                <td>@recordWithRank.Item2.fields.Country</td>
                <td><button onclick="document.location = '/SeamedInDB/AddAFavoriteStartUpToList?id=@recordWithRank.Item2.id'">Add to Favorites</button></td>

            </tr>
        }
    </table>
</div>