@model SearchResultsVM


    <link href="~/css/searchResults.css" rel="stylesheet" />

    <div id="mySidebar" class="sidebar ">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a1> Welcome, </a1>
        <a1>@ViewBag.AspUser.Email</a1>
        <ul>
            <li> <a href="/Home/UserProfile?name=" @ViewBag.User.Id ">Your Profile</a></li>
            <li><a href="/SeamedInDB/Favorites">Your Favorites</a></li>
            <li> <a href="/SeamedInDB/SearchPage">Search Page</a></li>
        </ul>
        <a1>Recommended Startups:</a1>
        <ul>
            @for (int i = 0; i < 3; i++)
            {
                <li><a href="/Home/StartupProfile?name=@ViewBag.Startups[i].Startup.fields.CompanyName">@ViewBag.Startups[i].Startup.fields.CompanyName</a></li>
            }
        </ul>
    </div>


<div class="flexContainer">
    <form action="/Home/SearchResultsGlobal" id="searchTextBox">
        <input type="text" name="globalSearch" placeholder="Search" />

        <br />
        <br />

        <div class="flexContainer">
            <input type="submit" value="SeamedIn Search"/>
        </div>
    </form>
</div>

<br />
<br />


<div class="main">
    <table>
        @{
            int recordCount = 0;
            int listPosition = 0;

            while (recordCount != Model.ResultsList.Count)
            {
                recordCount++;
                int cellCountInRow = 0;
                int loopCounter = 0;
                <tr>

                    @foreach (Tuple<int, GC_FinalProject_Seamless_June2020.Models.Record> recordWithRank in Model.ResultsList)
                    {

                        if (cellCountInRow < 3 && loopCounter == listPosition)
                        {
                            <td>
                                <ul class="startUpResultsList">
                                    <li class="stylesForLi">
                                        <a href="/Home/StartupProfile?name=@recordWithRank.Item2.fields.CompanyName"><h4>@recordWithRank.Item2.fields.CompanyName</h4></a>
                                    </li>
                                    <li class="stylesForLi">
                                        Technology Area: @recordWithRank.Item2.fields.TechnologyAreas
                                    </li>
                                    <li class="stylesForLi">
                                        Theme: @recordWithRank.Item2.fields.Themes
                                    </li>
                                    <li class="stylesForLi">
                                        Country: @recordWithRank.Item2.fields.Country
                                    </li>
                                    <li class="stylesForLi">
                                        <button onclick="document.location = '/SeamedInDB/AddAFavoriteStartUpToList?id=@recordWithRank.Item2.id'" class="buttonStyles">Add to Favorites</button>
                                    </li>
                                </ul>
                            </td>
                            listPosition++;
                            cellCountInRow++;
                        }
                        loopCounter++;
                    }

                </tr>
            }
        }

    </table>
</div>
