@model SearchResultsVM


<link href="~/css/searchResultsStyles.css" rel="stylesheet" />
<script src="~/js/searchResults.js"></script>

<div id="mySidebar" class="sidebar ">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a1> Welcome, </a1>
    <a1>@ViewBag.AspUser.Email</a1>
    <ul>
        <li> <a href="/Home/UserProfile?name=" @ViewBag.User.Id ">Your Profile</a></li>
        <li><a href="/SeamedInDB/Favorites">Your Favorites</a></li>
        <li> <a href="/SeamedInDB/SearchPage">Search Page</a></li>
    </ul>
    <a1>Recommended Startups:</a1>
    <ul>
        @for (int i = 0; i < 3; i++)
        {
            <li><a href="/Home/StartupProfile?name=@ViewBag.Startups[i].Startup.fields.CompanyName">@ViewBag.Startups[i].Startup.fields.CompanyName</a></li>
        }
    </ul>
</div>



<div class="flexContainer">
    <form action="/Home/SearchResultsGlobal" id="searchTextBox">
        <input type="text" name="globalSearch" placeholder="Search" />

        <br />
        <br />

        <div class="flexContainer">
            <input type="submit" value="SeamedIn Search" />
        </div>
    </form>
</div>

<br />

<div>
    <p class="queryString">Returned results for: @Model.SearchString</p>
</div>

<br />

<div>
    <button onclick="showStartups();" class="toggleStartupResults" id="toggleStartupResults">Display StartUps Results</button>
    <button onclick="showPartners();" class="togglePartnerResults" id="togglePartnerResults">Display Partner Results</button>
</div>

<div class="startUpResults" id="startUpResults" style="display:initial;">
    <table class="searchResultsTable">
        @{
            int recordCount = 0;
            int listPosition = 0;

            while (recordCount != Model.ResultsList.Count)
            {
                recordCount++;
                int cellCountInRow = 0;
                int loopCounter = 0;
                <tr>

                    @foreach (Tuple<int, GC_FinalProject_Seamless_June2020.Models.Record> recordWithRank in Model.ResultsList)
                    {

                        if (cellCountInRow < 3 && loopCounter == listPosition)
                        {
                            <td>
                                <ul class="startUpResultsList">
                                    <li class="stylesForLi">
                                        <a href="/Home/StartupProfile?name=@recordWithRank.Item2.fields.CompanyName"><h4>@recordWithRank.Item2.fields.CompanyName</h4></a>
                                    </li>
                                    <li class="stylesForLi">
                                        Technology Area: @recordWithRank.Item2.fields.TechnologyAreas
                                    </li>
                                    <li class="stylesForLi">
                                        Theme: @recordWithRank.Item2.fields.Themes
                                    </li>
                                    <li class="stylesForLi">
                                        Country: @recordWithRank.Item2.fields.Country
                                    </li>
                                    <li class="stylesForLi">
                                        <button onclick="document.location = '/SeamedInDB/AddAFavoriteStartUpToList?id=@recordWithRank.Item2.id'" class="buttonStyles">Add to Favorites</button>
                                    </li>
                                </ul>
                            </td>
                            listPosition++;
                            cellCountInRow++;
                        }
                        loopCounter++;
                    }

                </tr>
            }
        }

    </table>
</div>

<div class="partnerResults" id="partnerResults" style="display:none;">
    <table class="searchResultsTable">
        @{


            @* See if you can reuse the object created earlier*@

            int partnerCount = 0;
            int listPositionPartners = 0;

            while (partnerCount != Model.UsersList.Count)
            {
                partnerCount++;
                int cellCountInRowPartners = 0;
                int loopCounterPartners = 0;
                <tr>

                    @foreach (Users user in Model.UsersList)
                    {

                        if (cellCountInRowPartners < 3 && loopCounterPartners == listPositionPartners)
                        {
                            <td>
                                <ul class="startUpResultsList">
                                    <li class="stylesForLi">
                                        <a href="/Home/CompanyProfile?name=@user.Name"><h4>@user.Name</h4></a>
                                    </li>
                                    <li class="stylesForLi">
                                        Technology Area: @user.Technology
                                    </li>
                                    <li class="stylesForLi">
                                        Theme: @user.Theme
                                    </li>
                                    <li class="stylesForLi">
                                        Country: @user.Country
                                    </li>
                                    <li class="stylesForLi">
                                        Industry: @user.Industry
                                    </li>
                                </ul>
                            </td>
                            listPositionPartners++;
                            cellCountInRowPartners++;
                        }
                        loopCounterPartners++;
                    }

                </tr>
            }
        }
    </table>
</div>
