@model Record

    <div id="mySidebar" class="sidebar ">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a> Welcome, </a>
        <a>@ViewBag.AspUser.Email</a>
        <ul>
            <li> <a href="/Home/UserProfile?name=" @ViewBag.User.Id ">Your Profile</a></li>
            <li><a href="/SeamedInDB/Favorites">Your Favorites</a></li>
            <li> <a href="/SeamedInDB/SearchPage">Search Page</a></li>
        </ul>
        <a>Recommended Startups:</a>
        <ul>
            @for (int i = 0; i < 3; i++)
            {
                <li><a href="/Home/StartupProfile?name=@ViewBag.Startups[i].Startup.fields.CompanyName">@ViewBag.Startups[i].Startup.fields.CompanyName</a></li>
            }
        </ul>
    </div>

    <link href="~/css/profile.css" rel="stylesheet" type="text/css" />

<div class="profile">

<div class="main">

    <h1>@Model.fields.CompanyName</h1>

    <h2>@Model.fields.Country</h2>
    <h3>@Model.fields.StateProvince</h3>
    <h3>@Model.fields.City</h3>

    <div>
        @if (Model.fields.Themes != null)
        {
            <h4>Theme(s): @Model.fields.Themes</h4>
        }
        @if (Model.fields.TechnologyAreas != null)
        {
            <h4>Tech: @Model.fields.TechnologyAreas</h4>
        }
        @if (Model.fields.Landscape != null)
        {
            <h4>Landscape: @Model.fields.Landscape</h4>
        }
    </div>

    <div>
        <h4>Startup Summary</h4>
        <p>@Model.fields.TwoLineCompanySummary</p>
        <button onclick="document.location = '/SeamedInDB/AddAFavoriteStartUpToList?id=@Model.id'">Add to Favorites</button>
    </div>

</div>
</div>