@model Record

    <div class="sidenav">
        <a> Welcome, @ViewBag.AspUser.Email</a>
        <a href="/Home/UserProfile?name="@ViewBag.User.Id">Your Profile</a>
        <a href="/SeamedInDB/Favorites">Your Favorites</a>
        <a href="/SeamedInDB/SearchPage">Search Page</a>
        <a>Recommended Startups:</a>
        @for (int i = 0; i < 3; i++)
        {
            <a href="/Home/StartupProfile?name=@ViewBag.Startups[i].Startup.fields.CompanyName">@ViewBag.Startups[i].Startup.fields.CompanyName</a>
        }
    </div>

<div class="main">

<h1>@Model.fields.CompanyName</h1>

<h2>@Model.fields.Country</h2>
<h3>@Model.fields.StateProvince</h3>
<h3>@Model.fields.City</h3>

<div>
    @if (Model.fields.Themes != null)
    {
        <h4>Theme(s): @Model.fields.Themes</h4>
    }
    @if (Model.fields.TechnologyAreas != null)
    {
        <h4>Tech: @Model.fields.TechnologyAreas</h4>
    }
    @if (Model.fields.Landscape != null)
    {
        <h4>Landscape: @Model.fields.Landscape</h4>
    }
</div>

<div>
    <h4>Startup Summary</h4>
    <p>@Model.fields.TwoLineCompanySummary</p>
    <button onclick="document.location = '/SeamedInDB/AddAFavoriteStartUpToList?id=@Model.id'">Add to Favorites</button>
</div>

</div>
