@model Record

<link href="~/css/companyProfileStyles.css" rel="stylesheet" />



<h2 class="companyNameHeader">@Model.fields.CompanyName</h2>

<h6 class="companyOtherHeader">Startup Company</h6>

<div class="flexContainer">
    <p>@Model.fields.City, @Model.fields.StateProvince, @Model.fields.Country</p>
</div>

<br />
<br />

<h5 class="companyOtherHeader">Summary:</h5>

<div class="flexContainer">
    <p class="companySummaryStyles">@Model.fields.TwoLineCompanySummary</p>
</div>

<br />

<div>
    <table class="companyTable">
        <thead>
            <tr>
                <th>Theme</th>
                <th>Technology</th>
                <th>Stage</th>
                <th>Landscape</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.fields.Themes</td>
                <td>@Model.fields.TechnologyAreas</td>
                <td>@Model.fields.Stage</td>
                <td>@Model.fields.Landscape</td>
            </tr>
        </tbody>
    </table>
</div>

<br />
<br />

<h5 class="companyOtherHeader">Contact Information:</h5>

<div class="flexContainer">
    <ul class="companyListStyles">
        <li>Web - @Model.fields.CompanyWebsite</li>

    </ul>

</div>
<button onclick="document.location = '/SeamedInDB/AddAFavoriteStartUpToList?id=@Model.id'">Add to Favorites</button>



