@model Users

<div class="sidenav">
    <a> Welcome, @ViewBag.AspUser.Email</a>
    <a href="/Home/UserProfile?name=" @ViewBag.User.Id ">Your Profile</a>
    <a href="/SeamedInDB/Favorites">Your Favorites</a>
    <a href="/SeamedInDB/SearchPage">Search Page</a>
    <a>Recommended Startups:</a>
    @for (int i = 0; i < 3; i++)
    {
        <a href="/Home/StartupProfile?name=@ViewBag.Startups[i].Startup.fields.CompanyName">@ViewBag.Startups[i].Startup.fields.CompanyName</a>
    }
</div>

<div class="main">
    <h1>@ViewBag.AspUser.Email</h1>

    <h2>@Model.Name</h2>

    <h2>@Model.Country</h2>
    <h3>@Model.StateProvince</h3>
    <h3>@Model.City</h3>

    <div>
        @if (Model.Theme != null)
        {
            <h4>Theme(s): @Model.Theme</h4>
        }
        @if (Model.Technology != null)
        {
            <h4>Tech: @Model.Technology</h4>
        }
        @if (Model.Landscape != null)
        {
            <h4>Landscape: @Model.Landscape</h4>
        }
    </div>

    <div>
        <h4>Profile Summary</h4>
        <p>@Model.Summary</p>
        
    </div>

</div>

