@model List<Users>

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a> Welcome, </a>
        <a>@ViewBag.AspUser.Email</a>
        <a href="/Home/UserProfile?name=" @ViewBag.User.Id ">Your Profile</a>
        <a href="/SeamedInDB/Favorites">Your Favorites</a>
        <a href="/SeamedInDB/SearchPage">Search Page</a>
        <a>Recommended Startups:</a>
        @for (int i = 0; i < 3; i++)
        {
            <a href="/Home/StartupProfile?name=@ViewBag.Startups[i].Startup.fields.CompanyName">@ViewBag.Startups[i].Startup.fields.CompanyName</a>
        }
    </div>

    <table class="table-bordered">
        <thead><tr><td>Company Name</td><td>Actions</td></tr></thead>
        @foreach (Users user in Model)
        {
        <tr>
            <td><p>@user.Name</p></td>
            <td>
                <form action="/Admin/UpdateForm" method="post">
                    <input type="hidden" name="id" value="@user.UserId" />
                    <input type="submit" value="Update Values" />
                </form>
                <form action="/Admin/Delete" method="post">
                    <input type="hidden" name="id" value="@user.UserId" />
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        }

            
    </table>

