@model List<AspNetUsers>


    <div id="mySidebar" class="sidebar ">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a1> Welcome, </a1>
        <a1>@ViewBag.AspUser.Email</a1>
        <ul>
            <li> <a href="/Home/UserProfile?name=" @ViewBag.User.Id ">Your Profile</a></li>
            <li><a href="/SeamedInDB/Favorites">Your Favorites</a></li>
            <li> <a href="/SeamedInDB/SearchPage">Search Page</a></li>
        </ul>
        <a1>Recommended Startups:</a1>
        <ul>
            @for (int i = 0; i < 3; i++)
            {
                <li><a href="/Home/StartupProfile?name=@ViewBag.Startups[i].Startup.fields.CompanyName">@ViewBag.Startups[i].Startup.fields.CompanyName</a></li>
            }
        </ul>
    </div>

<table class="table table-bordered">
    <thead><tr><td>User email</td><td>Current User Privileges</td><td>Change User Role</td></tr></thead>
            @foreach (AspNetUsers user in Model)
            {                
    <tr>
    <td>
        <p>@user.Email</p>
    </td>
    <td>@user.Roles</td>
        @if(User.IsInRole("Admin"))
        { 
    <td><form action="/Admin/AddRole" method="post">
        <input type="hidden" name="id" value="@user.Id" />
        <select name="usertype">
            <option value="Admin">Admin</option>
            <option value="Startup">Startup</option>
            <option value="Partner">Partner</option>
            <option value="Seamless">Seamless</option>
        </select>
        <input type="submit" />
        </form>
        <form asp-controller="Admin" asp-action="DeleteAccount" method="post">
            <input type="hidden" name="id" value="@user.Id" />
            <input type="submit" value="Delete Account" />
        </form>        
        </td>}
    </tr>
            }
        
</table>