@model List<Record>
@{
    ViewData["Title"] = "Favorites";
}

<h1 style="text-align:center">My Favorite StartUps</h1>
<br>
<br>

<div class="flex">

    <div class="flex-item">


        @if (Model == null)
        {
            //If favorites list is empty, direct user back to search index to search StartUps to add to Favorites List
            <p class="text-danger">Your list of favorite StartUps is empty. Please return to Search Index to search more Favorites to add to Favorites List.</p>
            <button onclick="document.location = '/SeamedInDB/GetStartUpColumnCategoryValues">Go to Search Index to search StartUps</button>
        }
        else
        {
            @foreach (Record favoriteStartUp in Model)
            {
                //Otherwise, displays list of User's Favorite StartUps
                <br>
                @*error handling for displaying properties (if null)*@
                @if (favoriteStartUp.fields.CompanyName == null)
                {
                    <h5>Company Name not available</h5>
                }
                else
                {
                    <h5>Company Name: @favoriteStartUp.fields.CompanyName</h5>
                }
                @if (favoriteStartUp.fields.City == null)
                {
                    <h5>City not available</h5>
                }
                else
                {
                    <h5>City: @favoriteStartUp.fields.City</h5>
                }
                @if (favoriteStartUp.fields.StateProvince == null)
                {
                    <h5>State and/or Province not available</h5>
                }
                else
                {
                    <h5>State or Province: @favoriteStartUp.fields.StateProvince</h5>
                }
                @if (favoriteStartUp.fields.Country == null)
                {
                    <h5>Country not available</h5>
                }
                else
                {
                    <h5>Country: @favoriteStartUp.fields.Country</h5>
                }
                @if (favoriteStartUp.fields.Themes == null)
                {
                    <h5>Theme not available</h5>
                }
                else
                {
                    <h5>Theme: @favoriteStartUp.fields.Themes</h5>
                }

                @if (favoriteStartUp.fields.TechnologyAreas == null)
                {
                    <h5>Technology not available</h5>
                }
                else
                {
                    <h5>Technology: @favoriteStartUp.fields.TechnologyAreas</h5>
                }
                @if (favoriteStartUp.fields.Landscape == null)
                {
                    <h5>Landscape not available</h5>
                }
                else
                {
                    <h5>Landscape: @favoriteStartUp.fields.Landscape</h5>
                }

                <button onclick="document.location = '/SeamedInDB/RemoveAFavoriteStartUpFromList?id=@favoriteStartUp.id'">Remove this StartUp from the list</button>
                <div>Are you sure you want to remove this StartUp?</div>
            }
        }


        @*@if (Model == new List<Record>)
        {
            //Displays user's current list of favorites
            <h4>Name: @favoriteStartUp.Fields.CompanyName</h4>
            <h4>City: @favoriteStartUp.Fields.City</h4>
            <h4>State or Province: @favoriteStartUp.StateProvince</h4>
            <h4>Country: @favoriteStartUp.Country</h4>
            <h4>Theme: @favoriteStartUp.Theme</h4>
            <h4>Technology: @favoriteStartUp.TechnologyAreas</h4>
            <h4>Landscape: @favoriteStartUp.Landscape</h4>
            <h4>Summary: @favoriteStartUp.Summary</h4>

        }
        else
        {
            //If user wants to update favorites list, take user to Update favorites method
            <p class="text-danger">Update current list of Favorites?</p>
            <button onclick="document.location = '/SeamedInDB/UpdateListOfFavoriteStartUps?id=@favoriteStartUp.id">Update your Favorites list</button>

        }*@
        <br><br><br><br>
    </div>
    
</div>
