@model List<Record>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a> Welcome, </a>
    <a>@ViewBag.AspUser.Email</a>
    <a href="/Home/UserProfile?name=" @ViewBag.User.Id ">Your Profile</a>
    <a href="/SeamedInDB/Favorites">Your Favorites</a>
    <a href="/SeamedInDB/SearchPage">Search Page</a>
    <a>Recommended Startups:</a>
    @for (int i = 0; i < 3; i++)
    {
        <a href="/Home/StartupProfile?name=@ViewBag.Startups[i].Startup.fields.CompanyName">@ViewBag.Startups[i].Startup.fields.CompanyName</a>
    }
</div>


<div class="main">

    @if (Model.Count == 0)
    {

        //If favorites list is empty, direct user back to search page to search StartUps to add to Favorites List
        <p class="text-danger">Your list of favorite StartUps is empty. Please return to Search Page to search StartUps</p>
        <button onclick="document.location = '/SeamedInDB/SearchPage?id=@Model'">Search for StartUps</button>
    }
    else
    {

        <h1 style="text-align:center">Favorites</h1>
        <br>
        <br>
        <h5 style="text-align: center">
            <button onclick="document.location = '/SeamedInDB/SearchPage?id=@Model'">Search for more StartUps</button>
            <br>
            <button onclick="document.location = '/Home/SearchResults?id=@Model'">Back to Search Results</button>
        </h5>
        <br>
    }



    <div class="flex">

        <div class="flex-item">

            @foreach (Record favoriteStartUp in Model)
            {


                @*error handling for displaying properties (if null)*@

                @if (favoriteStartUp.fields.CompanyName == null)
                {
                    <h5>Company Name not available</h5>
                }
                else
                {
                    <h5>Company Name: @favoriteStartUp.fields.CompanyName</h5>
                }
                @if (favoriteStartUp.fields.City == null)
                {
                    <h5>City not available</h5>
                }
                else
                {
                    <h5>City: @favoriteStartUp.fields.City</h5>
                }
                @if (favoriteStartUp.fields.StateProvince == null)
                {
                    <h5>State and/or Province not available</h5>
                }
                else
                {
                    <h5>State or Province: @favoriteStartUp.fields.StateProvince</h5>
                }
                @if (favoriteStartUp.fields.Country == null)
                {
                    <h5>Country not available</h5>
                }
                else
                {
                    <h5>Country: @favoriteStartUp.fields.Country</h5>
                }
                @if (favoriteStartUp.fields.Themes == null)
                {
                    <h5>Theme not available</h5>
                }
                else
                {
                    <h5>Theme: @favoriteStartUp.fields.Themes</h5>
                }

                @if (favoriteStartUp.fields.TechnologyAreas == null)
                {
                    <h5>Technology not available</h5>
                }
                else
                {
                    <h5>Technology: @favoriteStartUp.fields.TechnologyAreas</h5>
                }
                @if (favoriteStartUp.fields.Landscape == null)
                {
                    <h5>Landscape not available</h5>
                }
                else
                {
                    <h5>Landscape: @favoriteStartUp.fields.Landscape</h5>
                }


                <a href="~/SeamedInDB/RemoveAFavoriteStartUpFromList?id=@favoriteStartUp.id" id="deleteBtn" class="btn bg-danger mr-1"
                   onclick="return confirm('Are you sure you want to remove this StartUp from your Favorites?');">
                    <i class="fas fa-trash-alt text-white"></i>Remove StartUp from Favorites List
                </a>

                <div class="comment">
                    <textarea id="title" type="text " rows="8" cols="35" onkeyup="Allow()" placeholder="Add a comment"></textarea>
                    <form input type="submit" value="Post" onclick="insert()" style="width:100px; height: 200px"></form>
                </div>
                <div id="display"></div>
                <script type="text/javascript">
                    var titles = [];
                    var titleInput = document.getElementById("title");
                    var messageBox = document.getElementById("display");
                    function Allow() {
                        if (!user.title.value.match(/[a-zA-Z]$/) && user.title.value != "") {
                            user.title.value = "";
                            alert("Please limit 400 characters");
                        }
                        window.location.reload()
                    }
                    function insert() {
                        titles.push(titleInput.value);
                        clearAndShow();
                    }
                    function clearAndShow() {
                        titleInput.value = "";
                        messageBox.innerHTML = "";
                        messageBox.innerHTML += " " + titles.join("<br/> ") + "<br/>";
                    }
                </script>

            }




            @*@if (Model == new List<Record>)
                {
                    //Displays user's current list of favorites
                    <h4>Name: @favoriteStartUp.Fields.CompanyName</h4>
                    <h4>City: @favoriteStartUp.Fields.City</h4>
                    <h4>State or Province: @favoriteStartUp.StateProvince</h4>
                    <h4>Country: @favoriteStartUp.Country</h4>
                    <h4>Theme: @favoriteStartUp.Theme</h4>
                    <h4>Technology: @favoriteStartUp.TechnologyAreas</h4>
                    <h4>Landscape: @favoriteStartUp.Landscape</h4>
                    <h4>Summary: @favoriteStartUp.Summary</h4>

                }

            *@
            <br><br><br><br>
        </div>

    </div>

</div>