@model FavoritesListVM

<link href="~/css/favorites.css" rel="stylesheet" />

<h1 style=" text-align:center">Favorites</h1>
<br>
<br>
<div id="mySidebar" class="sidebar ">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a1> Welcome, </a1>
    <a1>@ViewBag.AspUser.Email</a1>
    <ul>
        <li> <a href="/Home/UserProfile?name=" @ViewBag.User.Id ">Your Profile</a></li>
        <li><a href="/SeamedInDB/Favorites">Your Favorites</a></li>
        <li> <a href="/SeamedInDB/SearchPage">Search Page</a></li>
    </ul>
    <a1>Recommended Startups:</a1>
    <ul>
        @for (int i = 0; i < 3; i++)
        {
            <li><a href="/Home/StartupProfile?name=@ViewBag.Startups[i].Startup.fields.CompanyName">@ViewBag.Startups[i].Startup.fields.CompanyName</a></li>
        }
    </ul>
</div>


<div class="main">

    @if (Model.ListofRecords.Count == 0)
    {

        //If favorites list is empty, direct user back to search page to search StartUps to add to Favorites List
        <h5 style="text-align: center">
            <p class="text-danger">Your list of favorite StartUps is empty. Please return to Search Page to search StartUps</p>
        </h5>
        <h5 style="text-align: center">
            <button onclick="document.location = '/SeamedInDB/SearchPage?id=@Model.ListofRecords'">Search for Startups</button>
        </h5>
    }

    else
    {
        <h5 style="text-align: center; display: inline-block;">
            <button class="btn" onclick="document.location = '/SeamedInDB/SearchPage?id=@Model.ListofRecords'">Search for more Startups</button>
        </h5>

        <h5 style="text-align: center; display: inline-block;">
            <a href="~/SeamedInDB/ClearFavoritesView?id=@Model.ListofRecords" id="deleteBtn" class="btn bg-danger mr-1"
               onclick="return confirm('Are you sure you want to remove all StartUps from your Favorites List?');">
                <i class="fas fa-trash-alt text-white"></i>Clear Favorites List
            </a>
        </h5>

        <h5 style="text-align: center; display: inline-block;">
            <button class="btn" onclick="document.location = '/Home/SearchResultsGlobal?id=@Model.ListofRecords'">Back to Search Results</button>
        </h5>


    }


    <table class="table table-striped">
        <thead><tr><th>Startup</th><th>City</th><th>State/Province</th><th>Country</th><th></th><th></th></tr></thead>
        @foreach (Record favoriteStartUp in Model.ListofRecords)
        {
            <tr>
                <td>
                    @if (favoriteStartUp.fields.CompanyName == null)
                    {
                        <h5>Startup Name not available</h5>
                    }
                    else
                    {
                        <h5>
                            <a href="@Url.Action("StartUpProfile", "Home", new {name = @favoriteStartUp.fields.CompanyName})">@favoriteStartUp.fields.CompanyName</a>
                        </h5>
                    }
                </td>
                <td>
                    @if (favoriteStartUp.fields.City == null)
                    {
                        <h5>N/A</h5>
                    }
                    else
                    {
                        <h5>@favoriteStartUp.fields.City</h5>
                    }
                </td>
                <td>
                    @if (favoriteStartUp.fields.StateProvince == null)
                    {
                        <h5>N/A</h5>
                    }
                    else
                    {
                        <h5>@favoriteStartUp.fields.StateProvince</h5>
                    }
                </td>
                <td>
                    @if (favoriteStartUp.fields.Country == null)
                    {
                        <h5>N/A</h5>
                    }
                    else
                    {
                        <h5>@favoriteStartUp.fields.Country</h5>
                    }
                </td>
                <td>
                    <div class="comment">                       
                        <form action="/SeamedInDB/AddComment" input type="submit" value="Post" onclick="insert()" style="width:20px;">
                            <input type="hidden" value="@favoriteStartUp.id" name="id" />
                            @*<input id="title" type="text" rows="1" onkeyup="Allow()" placeholder="write a comment..." name="comment" />*@
                            <input type="text" hidden placeholder="write a comment..." name="comment" pattern="[a-zA-Z]"/>
                            <h5 style="text-align: center; display: inline-block;">
                                <button hidden type="submit" class="btn btn-default">Submit</button>
                            </h5>
                        </form>
                    </div>
                    <div id="display"></div>
                    <script type="text/javascript">
                        var titles = [];
                        var titleInput = document.getElementById("title");
                        var messageBox = document.getElementById("display");
                        function Allow() {
                            if (!user.title.value.match(/[a-zA-Z]$/) && user.title.value != "") {
                                user.title.value = "";
                                alert("Please Enter only alphabets");
                            }
                            window.location.reload()
                        }
                        function insert() {
                            titles.push(titleInput.value);
                            clearAndShow();
                        }
                        function clearAndShow() {
                            titleInput.value = "";
                            messageBox.innerHTML = "";
                            messageBox.innerHTML += " " + titles.join("<br/> ") + "<br/>";
                        }                        
                    </script>
                    @*<textarea class="form-control" rows="1" id="comment">.</textarea>*@
                
                </td>
                <td>
                    <a href="~/SeamedInDB/RemoveAFavoriteStartUpFromList?id=@favoriteStartUp.id" id="deleteBtn" class="btn bg-danger mr-1"
                       onclick="return confirm('Are you sure you want to remove this Startup from your Favorites List?');">
                        <i class="fas fa-trash-alt text-white"></i>Remove Startup from Favorites List
                    </a>
                </td>
            </tr>

        }

    </table>
</div>







